name: Docker Image CI - rocker-gdal-dev-python
on:
  workflow_dispatch: null
  schedule:
    - cron: '0 0,9 * * *'
  push:
    paths: ['dockerfiles/rocker-gdal-dev-python.Dockerfile', '.github/workflows/docker-rocker-gdal-dev-python.yml']
jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        if: github.repository == 'mdsumner/gdal-builds'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build the (rocker-gdal-dev-python) Docker image
        if: github.repository == 'mdsumner/gdal-builds'
        run: docker build -f dockerfiles/rocker-gdal-dev-python.Dockerfile . --tag ghcr.io/mdsumner/gdal-builds:rocker-gdal-dev-python
      - name: Publish (rocker-gdal-dev-python)
        if: github.repository == 'mdsumner/gdal-builds'
        run: docker push ghcr.io/mdsumner/gdal-builds:rocker-gdal-dev-python

